<mat-form-field appearance="fill">
  <mat-label>User</mat-label>
  <mat-select [(ngModel)]="selectedUser" name="user">
    <mat-option *ngFor="let user of users" [value]="user.userName">
      {{user.userName}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br/>

<form class="board-form">
  <mat-form-field class="example-margin">
      <mat-label>Rows</mat-label>
      <input matInput type="number" [(ngModel)]="boardDraft.rows" name="rows">
  </mat-form-field>
  <mat-form-field class="example-margin">
      <mat-label>Cols</mat-label>
      <input matInput type="number" [(ngModel)]="boardDraft.cols" name="cols">
  </mat-form-field>
  <mat-form-field class="example-margin">
      <mat-label>Mines</mat-label>
      <input matInput type="number" [(ngModel)]="boardDraft.mines" name="mines">
  </mat-form-field>
</form>


<button mat-raised-button (click)="start()">Start!</button>

<mat-grid-list cols="{{viewBoard.length}}" rowHeight="2:1">

    <ng-template ngFor let-row [ngForOf]="viewBoard.rows">
      <ng-template ngFor let-col [ngForOf]="row.cols">    
          <mat-grid-tile>{{col.x}}, {{col.y}}</mat-grid-tile>
      </ng-template>
    </ng-template>

</mat-grid-list>
